---
import Button from "../Button.astro";
import HeroBackground from "./HeroBackground.astro";
import { URL_LINKEDIN, URL_INSTAGRAM, URL_GITHUB } from "../../../consts";
---

<div class="relative w-full h-[calc(100svh-4rem)] overflow-hidden flex items-center justify-center border-b border-white/10">
  <HeroBackground />
  <div class="relative z-10 flex flex-col items-center gap-6 text-center px-4 sm:grid sm:grid-cols-[auto_1fr] sm:text-left sm:gap-x-8 sm:gap-y-4 sm:items-center">
    <img
      src="/logo/white.svg"
      alt="Alex Tuppen logo"
      class="w-28 sm:w-36 md:w-44 lg:w-56 xl:w-72 sm:row-span-2 drop-shadow-2xl"
    />
    <div class="flex flex-col">
      <h1 class="font-display font-medium leading-none text-7xl sm:text-8xl md:text-9xl lg:text-[10rem] xl:text-[13rem] text-white drop-shadow-lg">
        Alex
      </h1>
      <h1 class="font-display font-medium leading-none text-7xl sm:text-8xl md:text-9xl lg:text-[10rem] xl:text-[13rem] text-white drop-shadow-lg">
        Tuppen
      </h1>
    </div>
    <h2 class="font-sans font-normal text-xl sm:text-2xl md:text-3xl lg:text-4xl text-white/80 sm:col-start-2 drop-shadow">
      Full stack developer
    </h2>
    <div class="flex gap-6 sm:col-start-2">
      <Button variant="largeIcon" href={URL_LINKEDIN} external>
        <img width="48" height="48" src="/icons/websites/linkedin.svg" alt="LinkedIn logo" />
      </Button>
      <Button variant="largeIcon" href={URL_INSTAGRAM} external>
        <img width="48" height="48" src="/icons/websites/instagram.svg" alt="Instagram logo" />
      </Button>
      <Button variant="largeIcon" href={URL_GITHUB} external>
        <img width="48" height="48" src="/icons/websites/github.svg" alt="Github logo" />
      </Button>
    </div>
  </div>
</div>
