---
import { Root } from "../../layouts";
import { BlogRecipeList, Section } from "../../components";
import { SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";

const recipes = await getCollection("recipes");
const sortedRecipes = recipes.sort((a, b) =>
  a.data.datePublished < b.data.datePublished ? 1 : -1,
);
const transformedRecipes = sortedRecipes.map(
  ({ id, data: { name, description, image, keywords } }) => {
    const splitKeywords = keywords.split(", ");
    return {
      href: `/recipes/${id}`,
      title: name,
      src: image ? image[0] : undefined,
      alt: name,
      description,
      keywords: splitKeywords,
    };
  },
);
---

<Root title={"Alex Tuppen | Recipes"} description={SITE_DESCRIPTION}>
  <Section>
    <h1 class="text-4xl font-display font-medium">Recipes</h1>
    <p class="text-white/70 leading-relaxed max-w-2xl text-center">
      I enjoy the challenge of creating recipes that are as easy to cook as
      possible. They are not complicated or fancy but they do use ingredients in
      standard UK supermarket sizes and generate as little washing up as
      possible. Please let me know what you think if you cook one of them!
    </p>
    <BlogRecipeList list={transformedRecipes} />
  </Section>
</Root>
