---
import { Root } from "../../layouts";
import { SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import { BlogRecipeList, Section } from "../../components";

const posts = await getCollection("blog");
const sortedPosts = posts.sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
const transformedPosts = sortedPosts.map(
  ({ id, data: { heroImage, heroImageText, title, description } }) => ({
    href: `/blog/${id}`,
    title,
    src: heroImage,
    alt: heroImageText,
    description,
  }),
);
---

<Root title="Alex Tuppen | Blog" description={SITE_DESCRIPTION}>
  <Section>
    <h1 class="text-4xl font-display font-medium">Blog</h1>
    <BlogRecipeList list={transformedPosts} />
  </Section>
</Root>
