---
import dayjs from "dayjs";
import duration from "dayjs/plugin/duration";
import relativeTime from "dayjs/plugin/relativeTime";
import { Clock, CookingPot, Knife, KnifeFork } from "../../../svg";

interface Props {
  prepTime: string;
  cookTime: string;
  totalTime: string;
  recipeYield: number;
}

const { prepTime, cookTime, totalTime, recipeYield } = Astro.props;

dayjs.extend(duration);
dayjs.extend(relativeTime);

const prepDuration = dayjs.duration(prepTime).humanize();
const cookDuration = dayjs.duration(cookTime).humanize();
const totalDuration = dayjs.duration(totalTime).humanize();

const items = [
  { Icon: Knife, label: "Preparation", value: prepDuration },
  { Icon: CookingPot, label: "Cook", value: cookDuration },
  { Icon: Clock, label: "Total", value: totalDuration },
  { Icon: KnifeFork, label: "Serves", value: String(recipeYield) },
];
---

<dl class="grid grid-cols-2 md:grid-cols-4 gap-x-6 gap-y-3 text-sm mx-auto">
  {
    items.map(({ Icon, label, value }) => (
      <>
        <dt class="flex items-center justify-end gap-2 text-white/60">
          <Icon className="w-4 h-4" />
          <span>{label}:</span>
        </dt>
        <dd class="text-white">{value}</dd>
      </>
    ))
  }
</dl>
