---
import { technologyDictionary } from "./technologyDictionary";
import type { Technologies } from "./technologies.types";

interface Props {
  technologies: Technologies;
}

const { technologies } = Astro.props;

const lookUpTechnologies = (technologies: Technologies) =>
  technologies.map((tech) => {
    if (typeof tech === "string") {
      return {
        src: technologyDictionary[tech].src,
        title: technologyDictionary[tech].title,
        alt: technologyDictionary[tech].alt,
      };
    }
    return {
      src: technologyDictionary[tech.key].src,
      title: tech.title,
      alt: tech.alt,
    };
  });

const lookedUpTechs = lookUpTechnologies(technologies);
---

<ul class="flex flex-wrap gap-3 p-4 sm:px-8 bg-surface-2 border-t border-primary/60 list-none m-0 sm:rounded-b-xl">
  {
    lookedUpTechs.map(({ title, src, alt }) => (
      <li class="flex items-center gap-2">
        <img src={src} alt={alt} class="w-5 h-5 object-contain" />
        <span class="text-xs text-white/70">{title}</span>
      </li>
    ))
  }
</ul>
