---
import ExpEduDetails from "./ExpEduDetails.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  data: CollectionEntry<"education">["data"];
}

const {
  data: { details },
} = Astro.props;
---

<div class="w-full bg-surface-1 rounded-xl overflow-hidden text-left max-w-2xl">
  <ExpEduDetails details={details} month={false} />
</div>
