---
import { BaseHead, Header, Footer } from "../components";
import "../styles/global.css";

const { title, description } = Astro.props;
---

<html lang="en" class="h-full">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body
    class="bg-base text-white font-sans min-h-full grid grid-rows-[auto_1fr_auto]"
  >
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
